* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	font-family: 'DotGothic16', sans-serif;
	font-size: 30px;
}
#info{
	position: absolute;
	top: 30px; /* 向下偏移 20px */
    left: -500px;
	width: 100%;
	text-align: center;
	z-index: 1;
	display:none;
	animation: moveUpDown 2s infinite, scaleAnimation 2s infinite,colorAnimation 2s infinite;

}

#info1{
	position: absolute;
	top: 450px; /* 向下偏移 20px */
    left: 460px;
	width: 100%;
	text-align: center;
	z-index: 1;
	display:none;
	animation: moveUpDown 2s infinite, scaleAnimation 2s infinite, colorAnimation 2s infinite;

}


#info2{
	position: absolute;
	top: 90px; /* 向下偏移 20px */
    left: 490px;
	width: 100%;
	text-align: center;
	z-index: 1;
	display:none;
	animation: moveUpDown 2s infinite, scaleAnimation 2s infinite, colorAnimation 2s infinite;

}

#info3{
	position: absolute;
	top: 450px; /* 向下偏移 20px */
    left: -450px;
	width: 100%;
	text-align: center;
	z-index: 1;
	display:none;
	animation: moveUpDown 2s infinite, scaleAnimation 2s infinite, colorAnimation 2s infinite;

}

#info4{
	position: absolute;
	top: 600px; /* 向下偏移 20px */
    left: -550px;
	width: 100%;
	text-align: center;
	z-index: 1;
	display:none;
	animation: moveUpDown 2s infinite, scaleAnimation 2s infinite, colorAnimation 2s infinite;

}

@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* 初始位置：不移动 */
    }
    50% {
        transform: translateY(-20px); /* 上移 20px */
    }
    100% {
        transform: translateY(0); /* 回到初始位置 */
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1); /* 初始大小：正常大小 */
    }
    50% {
        transform: scale(1.2); /* 放大到 1.2 倍大小 */
    }
    100% {
        transform: scale(1); /* 回到正常大小 */
	}
}

@keyframes colorAnimation {
    0% {
		color: #feecff; /* 初始颜色：蓝色 */
    }
    50% {
        color: #c3d9fa; /* 中间颜色：红色 */
    }
    100% {
        color: #feecff; /* 回到初始颜色 */
    }
}